.Time {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  flex-direction: column;
  width: 30rem;
  height: 15rem;
  padding: 5px;
  &-button {
    width: 100%;
    display: flex;
    justify-content: space-around;
    &:hover {
    }
  }
  &-info {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.center {
  display: flex;
  align-items: center;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  width: 4rem;
  height: 1.5rem;
  border-radius: 5px;
  border: 1px solid gray;
  &:hover {
    color: white;
    border: none;
    background: #3c50e0;
  }
}
.schoolName {
  font-weight: bold;
  font-size: 1.3rem;
}
